.del-btn {
    color:#F56C6C ;
  }


  .el-button {
    font-size: 12px;
  }

  .el-table thead {
    color: #221a1a;
    font-weight: 500;
}
.main{
  padding: 10px;
}
.el-card__body {
   padding: 0px; 
}
